* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul, ol {
  list-style: none;
}

/*
width of element:
	12 cols - 100%
	11 cols - 091,666666666%
	10 cols - 083,333333333%
	09 cols - 075%
	08 cols - 066,666666666%
	07 cols - 058,333333333%
	06 cols - 050%
	05 cols - 041,666666666%
	04 cols - 033,333333333%
	03 cols - 025%
	02 cols - 016,666666666%
	01 cols - 008,333333333%
	00 cols - 000%
*/
/*Extends*/
/*FlexBoxes*/
body .fixed-top .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

body .fixed-top div ul li, body .fixed-top div ul li .luxFX, body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Mixins*/
@font-face {
  font-family: "Cinzel";
  src: url(../Resources/Cinzel-Regular.ttf);
}

@font-face {
  font-family: "Julius";
  src: url(../Resources/JuliusSansOne-Regular.ttf);
}

body {
  background: #1e3641;
  display: block;
  font-family: "Cinzel";
}

body .fixed-top {
  z-index: 99;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #1e3641;
  top: 0;
  position: fixed;
}

body .fixed-top .logo {
  font-size: 20px;
  letter-spacing: 0.9em;
  color: #f3c860;
  text-align: center;
}

@media (min-width: 160px) and (max-width: 640px) {
  body .fixed-top .logo {
    height: 80%;
    width: 83.33333%;
    margin-top: 5px;
  }
}

@media (min-width: 641px) and (max-width: 1007px) {
  body .fixed-top .logo {
    height: 80%;
    width: 33.33333%;
    margin-left: 10px;
  }
}

@media (min-width: 1008px) {
  body .fixed-top .logo {
    height: 80%;
    width: 33.33333%;
    margin-left: 10px;
  }
}

body .fixed-top div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 160px) and (max-width: 640px) {
  body .fixed-top div {
    height: 80%;
    width: 8.33333%;
  }
  body .fixed-top div::before {
    content: "";
    background-image: url(../Resources/menu.svg);
    height: 40px;
    width: 40px;
    background-position: 0px;
    background-size: cover;
    cursor: pointer;
    margin: 0px 10px 0px 0px;
  }
}

@media (min-width: 641px) and (max-width: 1007px) {
  body .fixed-top div {
    height: 80%;
    width: 50%;
  }
}

@media (min-width: 1008px) {
  body .fixed-top div {
    height: 80%;
    width: 50%;
  }
}

@media (min-width: 160px) and (max-width: 640px) {
  body .fixed-top div:hover ul {
    transform: translateX(0%);
    opacity: 1;
  }
}

body .fixed-top div ul {
  height: 80%;
  width: 100%;
}

@media (min-width: 160px) and (max-width: 640px) {
  body .fixed-top div ul {
    transition: 0.6s ease;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #23232d;
    height: 100%;
    width: 50%;
    transform: translateX(100%);
  }
  body .fixed-top div ul::before {
    content: "Opciones";
    text-transform: uppercase;
    top: 0;
    height: 10%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: rgba(243, 200, 96, 0.6);
    letter-spacing: 0.6em;
    padding-top: 10px;
  }
}

@media (min-width: 641px) and (max-width: 1007px) {
  body .fixed-top div ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

@media (min-width: 1008px) {
  body .fixed-top div ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

body .fixed-top div ul li {
  flex-grow: 1;
  height: 100%;
  width: auto;
}

@media (min-width: 160px) and (max-width: 640px) {
  body .fixed-top div ul li {
    height: auto;
    width: 90%;
    flex-grow: 0;
  }
}

body .fixed-top div ul li .luxFX {
  letter-spacing: 0.7em;
  font-size: 10px;
  border-bottom: 1px solid rgba(243, 200, 96, 0.5);
  transition: 0.6s ease;
  text-transform: uppercase;
  color: #f3c860;
  background: linear-gradient(0deg, #f3c860, rgba(146, 111, 52, 0.8), rgba(34, 34, 34, 0), rgba(34, 34, 34, 0));
  background-position: 50% 15%;
  background-size: 300% 300%;
  border-radius: 20px 20px 0px 0px;
  opacity: 0.8;
}

@media (min-width: 160px) and (max-width: 640px) {
  body .fixed-top div ul li .luxFX {
    background-position: 50% 1%;
    border: 1px solid rgba(243, 200, 96, 0.5);
    height: 50px;
    width: 90%;
    border-radius: 0px 0px 0px 0px;
  }
}

@media (min-width: 641px) and (max-width: 1007px) {
  body .fixed-top div ul li .luxFX {
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 1008px) {
  body .fixed-top div ul li .luxFX {
    height: 100%;
    width: 80%;
  }
}

body .fixed-top div ul li .luxFX:active {
  opacity: 1;
  transition: 0.05s ease;
}

body .fixed-top div ul li .luxFX:hover {
  background-position: 50% 99%;
  color: #fff;
  letter-spacing: 0.9em;
}

body main {
  margin-top: 50px;
}

body header {
  height: 620px;
  width: 100%;
}

body footer {
  height: 300px;
  width: 100%;
  background-color: #23232d;
  box-shadow: 0px -3px 18px 2px rgba(0, 0, 0, 0.7);
  border-top: 5px solid #19191e;
}
