// _varsMixinExtends.scss
//General Vars
$primary-color: rgba(30, 54, 65, 1);
$secondary-color: rgba(35, 35, 45, 1);
$secondary-color-dk: rgba(25, 25, 30, 1);
$third-color100: rgba(243, 200, 96, 1);
$third-color50: rgba(243, 200, 96, 0.5);
$third-color0: rgba(243, 200, 96, 0);
$fourth-color:#dcd0b0;

$menuHeight: 50px;

//RWD Vars
$smallWidth: 640px;
$mediumWidth: 1007px;

/*
width of element:
	12 cols - 100%
	11 cols - 091,666666666%
	10 cols - 083,333333333%
	09 cols - 075%
	08 cols - 066,666666666%
	07 cols - 058,333333333%
	06 cols - 050%
	05 cols - 041,666666666%
	04 cols - 033,333333333%
	03 cols - 025%
	02 cols - 016,666666666%
	01 cols - 008,333333333%
	00 cols - 000%
*/
$width-12:100%;
$width-11:91.666666666%;
$width-10:83.333333333%;
$width-9:75%;
$width-8:66.666666666%;
$width-7:58.333333333%;
$width-6:50%;
$width-5:41.666666666%;
$width-4:33.333333333%;
$width-3:25%;
$width-2:16.666666666%;
$width-1:8.333333333%;
$width-0:0%;

/*Extends*/
/*FlexBoxes*/
%FB-row-spcA-cen{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
%FB-row-spcB-cen{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
%FB-col-spcA-cen{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
%FB-col-spcA-cen{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
%FB-row-cen-cen{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
%FB-col-cen-cen{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/*Mixins*/
@mixin widthHeightsize($valueX, $valueY) {
	height:$valueY;
	width:$valueX;
}
@mixin flex($direct, $justCont, $aligItem){
	display: flex;
	flex-direction: $direct;
	justify-content: $justCont;
	align-items: $aligItem;
}