// base.scss
@import 'noDefaultStyle';
@import 'varsMixinExtends';
$menuHeight:50px;
@font-face {
	font-family: "RalewayLight";
	src: url(../Resources/Raleway-Light.ttf);
}
body {
	background: $primary-color;
	display: block;
	font-family: "RalewayLight";
	.fixed-top{
		z-index: 99;
		@include flex(row, space-between, center);
		@include widthHeightsize($width-12, $menuHeight);
		background-color: $primary-color;
		top: 0;
		position: fixed;
		.logo{
			@extend %FB-row-cen-cen;
			font-size: 20px;
			letter-spacing: 0.9em;
			color: $third-color80;
			text-align: center;
			@media (min-width: 160px) and (max-width: $smallWidth){
				@include widthHeightsize($width-10, 80%);
				margin-top: 5px;
			}
			@media (min-width: $smallWidth+1) and (max-width: $mediumWidth){
				@include widthHeightsize($width-4, 80%);
				margin-left: 10px;
			}
			@media (min-width: $mediumWidth+1){
				@include widthHeightsize($width-4, 80%);
				margin-left: 10px;
			}
		}
		div{
			@include flex(column, center, center);
			@media (min-width: 160px) and (max-width: $smallWidth){
				&::before{
					content: "";
					background-image: url(../Resources/menu.svg);
					@include widthHeightsize(40px, 40px);
					background-position: 0px;
					background-size: cover;
					cursor: pointer;
					margin:  0px 10px 0px 0px;
				}
				@include widthHeightsize($width-1, 80%);
			}
			@media (min-width: $smallWidth+1) and (max-width: $mediumWidth){
				@include widthHeightsize($width-6, 80%);
			}
			@media (min-width: $mediumWidth+1){
				@include widthHeightsize($width-6, 80%);
			}
			&:hover ul{
				@media (min-width: 160px) and (max-width: $smallWidth){
					transform: translateX(0%);
					opacity: 1;
				}
			}
			ul{
				@include widthHeightsize($width-12, 80%);
				@media (min-width: 160px) and (max-width: $smallWidth){
					transition: 0.6s ease;
					opacity: 0;
					@include flex(column, space-around, center);
					position: fixed;
					top: 0;
					right: 0;
					background-color: $secondary-color;
					@include widthHeightsize($width-6, 100%);
					transform: translateX(100%);
					&::before{
						content:"Opciones";
						text-transform: uppercase;
						top: 0;
						@include widthHeightsize($width-12, 10%);
						position: absolute;
						@include flex(column, flex-start, center);
						color: $third-color60;
						letter-spacing: 0.6em;
						padding-top: 10px;
					}
				}
				@media (min-width: $smallWidth+1) and (max-width: $mediumWidth){
					@include flex(row, space-around, center);
				}
				@media (min-width: $mediumWidth+1){
					@include flex(row, space-around, center);
				}
				li{
					flex-grow: 1;
					@media (min-width: 160px) and (max-width: $smallWidth){
						@include widthHeightsize(90%, auto);
						flex-grow: 0;
					}
					@extend %FB-col-cen-cen;
					@include widthHeightsize(auto, 100%);
					.luxFX{
						@extend %FB-col-cen-cen;
						letter-spacing: 0.7em;
						font-size: 10px;
						border-bottom: 1px solid $third-color50;
						transition: 0.6s ease;
						text-transform: uppercase;
						color: $third-color100;
						background: linear-gradient(0deg, $third-color100, rgba(146,111,52,0.8), rgba(34,34,34,0), rgba(34,34,34,0));
						background-position: 50% 15%;
						background-size: 300% 300%;
						border-radius: 20px 20px 0px 0px;
						opacity: 0.8;
						@media (min-width: 160px) and (max-width: $smallWidth){
							background-position: 50% 1%;
							border: 1px solid $third-color50;
							@include widthHeightsize(90%, 50px);
							border-radius: 0px 0px 0px 0px;
						}
						@media (min-width: $smallWidth+1) and (max-width: $mediumWidth){
							@include widthHeightsize(100%, 100%);
						}
						@media (min-width: $mediumWidth+1){
							@include widthHeightsize(80%, 100%);
						}
						&:active{
							opacity: 1;
							transition: 0.05s ease;
						}
						&:hover{
							background-position: 50% 99%;
							color: #fff;
							letter-spacing: 0.9em;
						}
					}		
				}
			}
		}
	}
	main{
		margin-top: $menuHeight;
		@extend %FB-col-cen-cen;
	}
	header{
		@include widthHeightsize($width-12, 620px);
	//	background-color: green;
	}
	footer{
		@include widthHeightsize(100%, 300px);
		background-color: $secondary-color;
		box-shadow: 0px -3px 18px 2px rgba(0, 0, 0, 0.7);
		border-top: 5px solid $secondary-color-dk;
	}
}